:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a030f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'fira sans';
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color:inherit;
}
button{
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 4px;
  background-color:#e862e8;
  outline: none;
  border: 2px solid transparent;
}
button:hover{
  background-color: #811a81;
  border: 2px solid #e862e8;
  transform: scale(1.01);
  transition: all 0.1s ease-out;
}

body::-webkit-scrollbar{
  width: 0;
}